<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flask_mysql/db_connection/users_cr/static/css/style.css">
    <title>Users</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for one_user in all_users %}
            <tr>
                <td>{{ one_user.first_name }}</td>
                <td>{{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
