<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Register</h1>
                <form action="/create_user" method="post" id="reg-user-form">
                    <div class="mb-3">
                        <label class for="first_name">First Name</label>
                        <input class="form-control" type="text" name="first_name" id="first_name">
                        <span id="err_reg_first_name"></span>
                    </div>
                    <div class="mb-3">
                        <label for="last_name">Last Name</label>
                        <input class="form-control" type="text" name="last_name" id="last_name">
                        <span id="err_reg_last_name'"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email">
                        <span id="err_reg_email"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                        <span id="err_reg_password"></span>
                    </div>
                    <div class="mb-3">
                        <label for="confirm">Confirm Password</label>
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password">
                        <span id="err_reg_confirm_password"></span>
                    </div>
                    <button class="btn btn-success">Register New User</button>
                </form>
            </div>
        
        
            <div class="col-sm-6">
                <h1>Login</h1>
                <form action="/user/process_login" method="post" id="user-form">
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email">
                        <span id="err_login_email"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                        <span id="err_login_password"></span>
                    </div>
                    <button class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>               

    <!-- bootstrap.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>