<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flask_mysql/db_connection/users_cr/static/css/style.css">
    <title>Read (All)</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for one_user in all_users %}
            <tr>
                <td>{{ one_user.id }}</td>
                <td>{{ one_user.first_name }}</td>
                <td>{{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
                <td>{{ one_user.created_at }}</td>
                <td><a href="/user/id">Show | </a><a href="Edit"> Edit | </a><a href="Delete|"> Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <a href="/user/new">Add a New User</a>
    </footer>
</body>
</html>
