<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/page2/tyler">Page</a>
    <h1>Index Page</h1>
    <form action="/page3_process" method="post">
        <input type="hidden" name="boo" id="boo" value="I am a ghost">
        <label for="email">Email</label> 
        <!-- for = name in input -->
        <input type="text" name="email" id="email">
        <input type="password" name="passwor" id="">
        <button>Login</button>
        <!-- <input type="submit" name="submit" id="" value="submit login btn"> -->
    </form>
</body>
</html>