<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1>Welcome! {{ boxes }}</h1>
    <div style = 'display:flex; padding: 20px; margin: 10px;'>
        {% for x in range(0,times): %}
            
            <div style = 'padding: 10px; margin: 10px; background-color: {{ boxes }}; height: 200px; width: 200px; border-radius: 10px; border: 1px solid black;'></div>
        {% endfor %}
    </div>
</body>
</html>