<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div>
                <div>
                    <h1>User: {{ users.first_name }} {{ users.last_name }}</h1>
                </div>
                <div>
                    <a href="/users/new">Add A User</a>
                    <a href="/users">Home</a>
                </div>
            </div>
            <div>
                <p>First Name: {{ users.first_name }}</p>
                <p>Last Name: {{ users.last_name }}</p>
                <p>Email: {{ users.email }}</p>
                <p>Created On: {{ users.created_at }}</p>
                <p>Last Updated On: {{ users.updated_at }}</p> 
            </div>
            
        </div>
    </div>
</body>
<footer>
    <a href="/users/{{ users.id }}/edit">Edit</a> | <a href="/users/{{ users.id }}/delete">Delete</a>
</footer>
</html>