<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <div class="container">
        <div class="d-flex">
            <h1>Sasquatch Websighting</h1>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <a href="/new/sighting">Report a Sasquatch</a>
            <a href="/logout">Logout</a>
        </div>
        <div>
            <h3>Reported Sightings</h3>
            {% for one_sighting in sightings %}
            <ul>
                    <li>{{ one_sighting.location }}</li>
                    <li>{{ one_sighting.date_sighting }}</li>
                    <li>Reported By:</li>
                    <li>{{ one_sighting.users[0].first_name }} {{ one_sighting.users[0].last_name }}</li>
                    <a href="/show/{{ one_sighting.id }}">view instructions</a>
                    {% if one_sighting.user_id == user.id %}
                    | <a href="/edit/{{ one_sighting.id }}">edit</a>
                    | <a href="/delete/{{ one_sighting.id }} ">delete</a>
                    {% else %}
                                        
                    {% endif %}
            </ul>
                {% endfor %}
        </div>
    </div>
    <!-- bootstrap.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>